.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
sitemap.xml
sitemap.xml.gz
.tag*
*.log
*.phar
*.retry
app/Plugin/*
app/tmp/

*.diff
.php_cs.cache
test_phpmd.html

bin
vendor
node_modules
.vagrant
